/* unvisited link */
body {
    background-color: white;
	color: black;
}

/* unvisited link */
a:link {
    color: darkblue;
}

/* visited link */
a:visited {
    color: gray;
}

.main-table {
	width: 80%;
	border: 0;
	padding: 10;
}

.fullwidth-table {
	width: 100%;
}

