/* unvisited link */
body {
    background-color: white;
	color: black;
}

/* unvisited link */
a:link {
    color: darkblue;
}

/* visited link */
a:visited {
    color: gray;
}

.main-table {
	width: 80%;
	border: 0;
	padding: 10;
}

.fullwidth-table {
	width: 100%;
}

.contents-title1 {
    text-align: center;
    font-size: 2.5em;
}
.contents-subtitle1 {
    text-align: center;
    font-size: 1em;
}
.contents-title2 {
    text-align: center;
    font-size: 2em;
}
h1.contents {
    font-weight: bold;
    margin-left: 0;
    text-align: left;
}
h2.contents {
    font-weight: bold;
    margin-left: 1em;
    text-align: left;
}
h3.contents {
    font-style: italic;
    margin-left: 2em;
    text-align: left;
}
h4.contents {
    margin-left: 3em;
    text-align: left;
}
h5.contents {
    font-style: italic;
    margin-left: 4em;
    text-align: left;
}
h6.contents {
    margin-left: 5em;
    text-align: left;
}
.contents-section_no {
    color: blue;
    font-style: oblique;
    margin-right: 5px;
}

div.home-header-centered {
    width: 600px;
    margin: auto;
}
img.home-header-centered {
    display: block;
    margin: auto;
}
p.home-centered {
    text-align: center;
}

img.block-centered {
    display:block;
    margin:auto;
}
